@charset "UTF-8";
ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.l-aside {
  background-color: #F2EDE9;
}
@media screen and (min-width: 1025px) {
  .l-aside {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}

@media screen and (min-width: 1025px) {
  .l-container {
    display: grid;
    grid-template-columns: 1fr 19%;
    grid-template-rows: 1fr 150px;
  }
}

@media screen and (min-width: 1025px) {
  .l-footer {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

.l-header {
  height: 217px;
  min-width: 375px;
  background-color: #FFF7EF;
}
@media screen and (min-width: 600px) {
  .l-header {
    min-width: 600px;
  }
}
@media screen and (min-width: 1025px) {
  .l-header {
    position: relative;
  }
}

@media screen and (min-width: 1025px) {
  .l-main {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

.zdo_drawer_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: rgba(51, 51, 51, 0.5);
  display: none;
  top: 0;
  left: 0;
}

.c-button {
  border-radius: 10px;
  background-color: #F2EDE9;
  color: #707070;
  border: solid 1px;
  border-color: #3C2A10;
  height: 46px;
}

.c-close {
  position: relative;
  width: 32px;
  height: 32px;
}
.c-close__right, .c-close__left {
  width: 32px;
  height: 6px;
  background-color: #707070;
  display: block;
  position: absolute;
  left: 0;
}
.c-close__right {
  transform: rotate(45deg);
}
.c-close__left {
  transform: rotate(-45deg);
}

.c-input {
  border-radius: 10px;
  border: solid 1px;
}

.c-link {
  list-style: none;
  color: #ffffff;
  font-size: 20px;
}

.c-menu-list {
  color: #707070;
  margin-bottom: 23px;
}

.c-partition {
  width: 1px;
  height: 20px;
  background-color: #fff;
  display: block;
  font-size: 0;
}

.p-access {
  min-height: 691px;
  min-width: 375px;
  background: url(../images/sp_Map.png);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
}
@media screen and (min-width: 600px) {
  .p-access {
    min-height: 415px;
    min-width: 600px;
    background: url(../images/tb_Map.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.9);
  }
}
@media screen and (min-width: 1025px) {
  .p-access {
    min-height: 649px;
    min-width: 1025px;
    background: url(../images/pc_Map.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.9);
  }
}
.p-access__film {
  z-index: 1;
  content: “”;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 600px) {
  .p-access__film {
    height: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .p-access__film {
    height: 100%;
    width: 60%;
  }
}
.p-access__article-Wrapper {
  width: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 2rem;
}
@media screen and (min-width: 1025px) {
  .p-access__article-Wrapper {
    width: 60%;
  }
}
.p-access__title {
  font-size: 30px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #ffffff;
  position: relative;
  z-index: 3;
}
.p-access__title::after {
  content: "";
  display: block;
  width: 75px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -20px;
}
.p-access__text {
  margin-top: 40px;
  font-size: 14px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #ffffff;
  position: relative;
  /*テキストを浮かすため*/
  z-index: 3;
}

.p-aside {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1000;
  width: 85%;
}
@media screen and (min-width: 600px) {
  .p-aside {
    width: 44%;
  }
}
@media screen and (min-width: 1025px) {
  .p-aside {
    width: auto;
    position: static;
    right: 0;
  }
}
.p-aside.open {
  position: fixed;
  right: 0%;
  transition: 0.4s;
  height: 100%;
  overflow: scroll;
}
.p-aside__button {
  /*「Menu」ボタン押下したときの、「☓」ボタンの位置*/
  position: absolute;
  top: 25px;
  right: 17px;
  cursor: pointer;
  border: none;
}
@media screen and (min-width: 1025px) {
  .p-aside__button {
    display: none;
  }
}
.p-aside__menu {
  display: none;
  color: #707070;
}
@media screen and (min-width: 1025px) {
  .p-aside__menu {
    display: block;
    margin-top: 82px;
    margin-bottom: 85px;
    margin-left: 46px;
  }
}
.p-aside__title1 {
  font-weight: bold;
  color: #707070;
  margin-top: 212px;
  margin-bottom: 40px;
  margin-left: 46px;
}
@media screen and (min-width: 1025px) {
  .p-aside__title1 {
    margin-top: initial;
  }
}
.p-aside__title2 {
  font-weight: bold;
  color: #707070;
  margin-top: 20px;
  margin-bottom: 39px;
  margin-left: 46px;
}
.p-aside__title3 {
  font-weight: bold;
  color: #707070;
  margin-top: 20px;
  margin-bottom: 38px;
  margin-left: 46px;
}

body.open {
  overflow: hidden;
}

.p-foodmenu {
  list-style: none;
}
@media screen and (min-width: 600px) {
  .p-foodmenu {
    display: flex;
    /*「Take Out」と「Eat In」の箱を、タブレット以上は横並び*/
  }
}
.p-foodmenu__list1 {
  background: url(../images/takeOut.png);
  background-size: cover;
  min-width: 335px;
  min-height: 642px;
  margin: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 600px) {
  .p-foodmenu__list1 {
    min-width: 239.5px;
    min-height: 681px;
    margin: 40px 41px 40px 40px;
  }
}
@media screen and (min-width: 1025px) {
  .p-foodmenu__list1 {
    min-width: 361.5px;
    margin: 120px 80px 134px 111px;
  }
}
.p-foodmenu__list2 {
  background: url(../images/eatIn.png);
  background-size: cover;
  min-width: 335px;
  min-height: 642px;
  margin: 20px 20px 49px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 600px) {
  .p-foodmenu__list2 {
    min-width: 239.5px;
    min-height: 681px;
    margin: 40px 40px 40px 0;
  }
}
@media screen and (min-width: 1025px) {
  .p-foodmenu__list2 {
    min-width: 361.5px;
    margin: 120px 112px 134px 0;
  }
}
.p-foodmenu__title {
  color: #ffffff;
  font-family: Roboto;
  font-size: 41px;
  margin-top: 11px;
  margin-left: 10px;
  position: relative;
  /*疑似要素作成のため*/
}
.p-foodmenu__title::after {
  content: "";
  display: block;
  width: 33.89px;
  height: 4px;
  background-color: #ffffff;
  position: absolute;
  bottom: -27px;
}
.p-foodmenu__dl {
  background-color: rgba(255, 255, 255, 0.8);
  width: auto;
  min-height: 162px;
  margin: 0 10px 10px 10px;
}
.p-foodmenu__dt {
  font-size: 22px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #3C2A10;
  padding-top: 19px;
  margin-bottom: 19px;
  margin-left: 10px;
}
.p-foodmenu__dd {
  font-size: 16px;
  color: #3C2A10;
  margin: 0 14px 23px 10px;
}

.p-footer {
  background: url(../images/sp_footer.png);
  background-size: cover;
  min-width: 375px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .p-footer {
    background: url(../images/tb_footer.png);
    background-size: cover;
  }
}
@media screen and (min-width: 1025px) {
  .p-footer {
    background: url(../images/pc_footerf.png);
    background-size: cover;
  }
}
.p-footer__ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-footer__ul--partition {
  margin: 18px;
}
.p-footer__copyright {
  color: #ffffff;
  font-size: 14px;
  margin-top: 34px;
}

.p-form {
  display: inline-block;
  /* なくても大丈夫だけど、念の為 */
  position: relative;
  /* 基準値とする */
}
.p-form::before {
  content: "";
  /* 疑似要素に必須 */
  width: 24px;
  /* アイコンの横幅 */
  height: 24px;
  /* アイコンの高さ */
  background: url(../../../images/sp-seaech-icon.png) no-repeat center center/auto 100%;
  /* 背景にアイコン画像を配置 */
  display: inline-block;
  /* 高さを持たせるためにインラインブロック要素にする */
  position: absolute;
  /* 相対位置に指定 */
  left: 16px;
  /* アイコンの位置。微調整してね */
  transform: translateY(-50%);
  top: 50%;
}
.p-form__input {
  width: 230px;
  height: 46px;
  padding: 3px 0 3px 3em;
  /* アイコンを設置するため左の余白を多めに指定*/
  margin-right: 13px;
}
@media screen and (min-width: 600px) {
  .p-form__input {
    width: 396px;
    margin-right: 13px;
  }
}
.p-form__button {
  width: 78px;
  height: 46px;
  font-size: 16px;
  font-weight: bold;
}
@media screen and (min-width: 600px) {
  .p-form__button {
    width: 136px;
  }
}
@media screen and (min-width: 1250px) {
  .p-form {
    position: absolute;
    top: 86px;
    right: 31px;
  }
}

.p-header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.p-header__title {
  color: #707070;
  font-size: 40px;
  font-family: Roboto;
  margin-bottom: 38px;
}
@media screen and (min-width: 1250px) {
  .p-header__title {
    position: absolute;
    top: 56px;
    left: 65px;
    font-size: 64px;
  }
}
.p-header__menu {
  position: absolute;
  top: 14px;
  right: 16px;
  border: 0;
  background-color: transparent;
  font-size: 20px;
  font-family: Roboto;
  color: #707070;
  cursor: pointer;
}
.p-header__menu.active {
  display: none;
}
@media screen and (min-width: 1025px) {
  .p-header__menu {
    display: none;
  }
}
@media screen and (min-width: 1250px) {
  .p-header__menu {
    display: none;
  }
}

.p-mainvisual {
  height: 285px;
  width: auto;
  min-width: 375px;
  background: url(../images/sp_mainvisual.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
}
.p-mainvisual__title {
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  left: 25px;
}
@media screen and (min-width: 600px) {
  .p-mainvisual {
    background: url(../images/tb_mainvisual.png) center center no-repeat;
    background-size: cover;
    min-width: 600px;
  }
}
@media screen and (min-width: 1025px) {
  .p-mainvisual {
    background: url(../images/mainVisual.png) center center no-repeat;
    background-size: cover;
    height: 400px;
    font-size: 40px;
    font-weight: bold;
  }
}

.p-menu {
  list-style: none;
  margin-bottom: 40px;
  margin-left: 66px;
}

/**
* Foundation
* ========================== */
/**
* Layout
* ========================== */
/* Object
* ========================== */
/* Component ------------ */
/* Project ------------ */
/* Utility ------------ */
/*# sourceMappingURL=style.css.map */