.p-access {
  min-width: 375px;
  background: url(../../../images/sp_Map.png);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;

  // &::after {
  //   z-index: 1;
  //   content: “”;
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   background-color: rgba(0,0,0,0.7);
  // }

  &__film {
    z-index: 1;
    content: “”;
    display: block;
    // position: absolute;
    top: 0;
    left: 0;
    height: 60%;
    background-color: rgba(black, 0.7);
  }

  
}