.p-first-description {
  display: flex;
  // display: inline-block;
  // vertical-align: top;
  // position: relative;
  margin-bottom: 30px;

  &__img {
    // min-height: 89px;
    // min-width: 144px;
    // height: 89px;
    // width: auto;
    height: 100%;
    width: 100%;
    margin-right: 10px;
    object-fit: cover;
    // object-fit: contain;
    // position: absolute;
    // top: 0px;
  }

  &__text {
    // max-height: 176px;
    min-height: 89px;
    min-width: 144px;
  }
}