@use "../../Foundation/mixin" as m;

.p-header {
  // ヘッダーを縦並び
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  // ボタンの配置
  position: relative;
  
  // ヘッダーの余白調整
  
  @include m.pc {
    flex-direction: row;
    // justify-content: space-around;
    margin: auto 0;
    margin-bottom: initial;
  }

}