@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-header__title {
  // フォント
  color: v.$mainColor;
  font-size: 40px;
  font-family: Roboto;
  // 下の余白
  margin-bottom: 38px;

  @include m.pc {
    position: absolute;
    top: 67px;
    left: 65px;
  }
}