@use "../../Foundation/variable" as v;

// h1 {
//   color: variable.$mainColor;
// }

.p-mainvisual {
  // 画像を配置
  height: 285px;
  background: url(../../../images/sp_mainvisual.png);
  background-size: cover;

  // フォントを中央縦揃え（親要素）
  display: flex;
  align-items: center;
  position: relative;
}

